<center>

<h1><%= @candidates.count %> candidates have announced campaigns</h1>

<h2></h2>

<% @candidates.sort_by{|candi| -candi.mentions.count}.each { |candidate| %>
    
    <h3><%= candidate.name %>:</h3>
    Mentions: <%= candidate.mentions.count %>
    <h5<%= link_to 'Show', candidate %></h5>
    <% } %>




</center>



